@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:300,400,600,700&display=swap');


body{
    background:#f7f7f7;
    margin:0;
    padding:0;
    font-family: 'Be Vietnam', sans-serif;
}

p{
    padding:0;
    margin:0;
}

ul, li{
    list-style: none;
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}
.container{
    width:1140px;
    margin:0 auto;
    overflow:hidden;
}
.container-fluid{
    width:96%;
    margin:0 auto;
    overflow:hidden;
}

h1, h2, h3, h4, h5, h6{
    padding:0;
    margin:0;
}

/**header styles start **/

header{
    background:#ffffff;
    min-height:25px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index: 999;
}
.top-header{
    background:#0087d2;
    padding:10px 0;
    overflow: hidden;
}
.top-header p{
    font-size:13px;
    color:#fff;
}
.top-header .lt-col{
    float:left;
}
.top-header .rt-col{
    float:right;
}
.bottom-header{
    padding:10px 0;
}
.bottom-header .logo-section{
    float:left;
}
.bottom-header .nav{
    float:right;
    padding-top:15px;
}
.bottom-header .nav li{
    float:left;
}
.bottom-header .nav li a{
    color:#000000;
    padding-left:15px;
}
.bottom-header .nav li a:hover{
    color:#0087d2;    
}

/** header styles ends **/

/** home slider **/
.home-slider{
    background:url(../img/banner.jpg)no-repeat 0 0;
    background-size:cover;
    height:100vh;
}

.home-slider article{
    padding-top:320px;
    width:860px;
}

.home-slider h1{
    font-size:65px;
    background:#0087d2;
    color:#fff;
    line-height:40px;
    padding:10px 10px 35px 10px;
    display:inline-block;    
}

.home-slider p{
    font-size:16px;
    background:#000;
    color:#fff;
    line-height:28px;
    padding:10px;   
    margin:10px 0;
}

.home-slider h1 span{
    font-weight:300;
}

.link{
    background:#0087d2;
    padding:10px 15px;
    color:#fff;
    line-height:20px;
    display:inline-block;    
    transition:all 0.2s ease;
}
.link:hover{
    background:#000;
}
/** home slider ends **/


/**what we offer styles starts **/
.whatwe-offer{
    padding:120px 0;
    position:relative;
    overflow: hidden;

}
.whatwe-offer::before{
    content:"";
    background:#0087d2;
    width:420px;
    height:100%;
    position:absolute;
    right:0;
    top:0;
    bottom:0;
}

.whatwe-offer .left-section{
    width:45%;  
    float:left; 
}

.section-title h5{
    text-transform: uppercase;
    font-size:16px;   
    position:relative;
    padding-left:45px;
}

/**pseudo element **/
.section-title h5::before{
    content:'';
    width:40px;
    height:4px;
    background:#0087d2;
    position: absolute;
    left:0;
    top:12px;
}
.section-title h3{
    font-size:32px;
    font-weight:300;
    letter-spacing: -2px;
}
.section-title h3 span{
    font-weight:700;
    color:#0087d2;
}
.left-section ul li{
    width:213px;
    height:218px;
    border:1px solid #b9b9b9;
    background:#fff;
    text-align:center;
    padding-top:40px;
    box-sizing: border-box;
    float:left;
    margin:20px 20px 0 0;
    transition:all 0.2s ease;
}
/** pseudo class **/
.left-section ul li:hover{
   background: #0087d2;
}
.left-section ul li:hover h6{
    color:#fff;
}
.left-section ul li img{
    width:56px;
    margin-bottom:20px;
}
.left-section ul li h6{
    font-size:16px;
    line-height:24px;
}
.whatweofferimg{
    float:right;
    width:50%;
    position: relative;
}
.whatweofferimg img{
    width:100%;
    border:5px solid #fff;
}
/** what we offer styles ebnds **/

/**our solutions **/
.our-solutions{
    padding:50px 0;
    background:#fff;
}
.column{
    width:48%;
    text-align:center;
    float:left;
}
.column h5{
    font-size:22px;
    padding:10px;
}
.row{
    padding:25px 0;
}
.column p{
    font-size:16px;
    text-align:center;
    line-height:25px;
    padding:5px 30px;
}
/** our solutions ends **/

/** about **/
.aboutus{
    padding:120px 0;
    position:relative;
    overflow: hidden;
}
.aboutus::before{
    content:"";
    background:#0087d2;
    width:420px;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
}

.aboutus .left-section{
    width:45%;  
    float:left; 
}
.aboutus img{
    width:100%;
    border:5px solid #fff;
    position: relative;
}
.aboutus .right-section{
    float:left;
    width:45%;
    padding-left:30px;
    padding-top:100px;
}
.aboutus .right-section .section-title{
    padding:15px 0;
}

.aboutus .right-section p{
    text-align:justify;
    padding-bottom:20px;
    font-size:16px;
    line-height:25px;
}

.blog-section{
    padding:50px;
}

.blog-col{
    width:24%;
    float:left;
    padding-right:10px;
}

.blogrow{
    padding:25px 0;
    margin:25px 0;
    overflow: hidden;
}
.blog-col article{
    background:#fff;
    padding:20px;
    min-height:140px;  
    transition: all 0.5s ease;  
}
.blog-col img{
    width:100%;
}
.blog-col article h4{
    font-size:20px;
    padding-bottom:15px;
}
.blog-col article p{
    font-size:14px;
    line-height:24px;
    color:#757575;
}
.blog-col article p .arrow-link{
    width:25px;
    float:right;
}

.blog-col:hover article{
    box-shadow: 0 4px 5px #757575;
}

footer{
    background:#0087d2;
    padding:50px 0;
    color:#fff;
    font-size:15px;
}

.footer-left{
    float:left;
}
.footer-right{
    float:right;
}


